@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: Roboto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite; */
}

.main{
    position: absolute;
    top:0;
    left:0;
    min-inline-size: 100%;
    min-block-size: 100%;
    /* margin: auto; */
    background-color: hsl(234, 29%, 20%);
    display: grid;
    place-items: center;
}

.container{
    inline-size: 100%;
    block-size: 100%;
    border-radius: 1.75rem;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    --gap: 0.5em;
    gap: var(--gap);
    /* grid-template-rows: 25%, 75%; */
    
}

.img-mobile{
    inline-size: 100%;
    block-size: 20em;
    background-image: url("/assets/images/illustration-sign-up-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    /* background-color: black; */
}

@media (min-width:500px) {
    .container{
        inline-size: 60rem;
        block-size: 40rem;
        grid-template-columns: 50% 50%;
        place-content: center;
        justify-items: center;
        /* justify-content: center; */
        --gap: 2.15em;  
        padding: 1.5em;
    }

    .img-mobile{
        display: none;
    }

    .img-desk{
        inline-size: 90%;
        block-size: 37em;
        background-image: url("/assets/images/illustration-sign-up-desktop.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        overflow: hidden;
        margin-inline-end: 0.5em;
        /* background-color: black; */
    }
    
}

.content{
    inline-size: 90%;
    min-block-size: 25em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    /* background-color: pink; */
}

h1{
    font-size: 3em;
    font-weight: 700;
    inline-size: 100%;
    /* background-color: aquamarine; */
}

p{
    font-size: 16px;
}

/* .list{
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.point{
    position: relative;
    inline-size: 60%;
    margin: auto;
    background-color: aquamarine;
}

.point::before{
    content: url("/assets/images/icon-list.svg");
    position: absolute;
    top: 0;
    left: -3em;
    padding-right: 8px;
    margin-right: 10px;
} */

@media (min-width: 500px){
    .content{
        inline-size: 80%;
        block-size: 80%;
        margin-block: auto;
        text-align: justify;
    }

    h1{
        font-size: 3.5em;
    }

}

ul{
    list-style: none;
    inline-size: 100%;
    /* display: inline-block;
    text-align: left; */
    /* background-color: beige; */
}

li{
    background: url("/assets/images/icon-list.svg") center no-repeat;
    background-position: left top;
    padding-left: 2em;
    /* text-indent: -1em; */
    inline-size: 19em;
    text-align: left;
    margin-bottom: 5px;
    min-block-size: 2.5em;
    /* text-indent: ; */
    /* background-color: aquamarine; */
}

@media (min-width: 500px){
    li{
        inline-size: 100%;
    }
}

.form{
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    justify-items: start;
    gap: 0.5em;
    /* background-color: antiquewhite; */
}

label{
    font-size: 0.75em;
    font-weight: 700;
}

input{
    inline-size: 100%;
    block-size: 3em;
    padding-inline: 0.75em;
    border: 1px solid hsl(231, 7%, 60%);
    outline: none;
    border-radius: 5px;
}

.btn{
    inline-size: 100%;
    block-size: 3em;
    border: none;
    outline: none;
    background-color: hsl(235, 18%, 26%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    /* background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

.valid{
    /* background-color: red; */
    background-image: linear-gradient(to right, rgb(243, 171, 183), rgb(248, 162, 104));
}

.invalid{
    border: 1px solid red;
    background-color: salmon;
    color: red;
}

.modal{
    position: absolute;
    top:0;
    left:0;
    min-inline-size: 100%;
    min-block-size: 100%;
    /* margin: auto; */
    background-color: #fff;
    padding: 2em;
    /* display: grid;
    place-items: center; */
}

.modal > img{
    margin-block-start: 10em;
    margin-block-end: 2em;
}

.modal>p{
    inline-size: 18em;
    /* background-color: aqua; */
}

.modal > h1{
    inline-size: 5em;
    margin-block-end: 0.75em;
}

.modal-close{
    inline-size: 100%;
    block-size: 3em;
    border: none;
    outline: none;
    background-color: hsl(235, 18%, 26%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-block-start: 15em;
}

.modal-close:hover{
    background-image: linear-gradient(to right, rgb(243, 171, 183), rgb(248, 162, 104));
}

/* .svg{
    inline-size: 3em;
    block-size: 3em;
    background-image: url(/assets/images/icon-success.svg) left center no-repeat;
} */

@media (min-width: 500px){
    .modal{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-inline-size: 20rem;
        min-block-size: 30rem;
        border: 1px solid black;
        border-radius: 15px;
        padding-inline: 3em;
    }

    .modal::backdrop{
        opacity: 1;
        background-color: hsl(234, 29%, 20%);
    }

    .modal > img{
        margin-block-start: 1.5em;
    }

    .modal>p{
        inline-size: 25em;
        /* background-color: aqua; */
    }

    .modal-close{
        margin-block-start: 3em;
    }
}